.promo{
    background: linear-gradient(90.9deg, #FF905E 0%, #FF7088 100%);
    padding-top: 80px;
    padding-bottom: 106px;
    @include breakpoint(medium down){
        padding-bottom: 76px;
    }
    @include breakpoint(small down){
        padding-top: 40px;
        padding-bottom: 55px;
        background: linear-gradient(90.9deg, #ff856d 0%, #ff7b7a 100%);
    }
    &_container{
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 80px;
        row-gap: 85px;
        grid-template-areas: 'logo screen'
                             'content screen';
        @include breakpoint(medium down){
            grid-template-columns: auto;
            justify-items: center;
            row-gap: 50px;
            grid-template-areas: 'logo'
                                 'screen'
                                 'content';
        }
        @include breakpoint(small down){
            row-gap: 40px;
        }
    }
    &_logo{
        grid-area: logo;
        @include breakpoint(medium down){
            margin-bottom: 10px;
        }
        @include breakpoint(small down){
            max-width: 240px;
            margin: 0;
        }
    }
    &_content{
        grid-area: content;
        @include breakpoint(medium down){
            text-align: center;
        }
    }
    &_lead{

    }
    &_buttons{
        margin-top: 80px;
        @include breakpoint(medium down){
            margin-top: 54px;
        }
        @include breakpoint(small down){
            margin-top: 32px;
        }
    }
    &_screens{
        grid-area: screen;
        position: relative;
        // padding-right: 40px;
        // padding-bottom: 40px;
        padding-left: 40px;
        padding-top: 40px;
        img{
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
            border-radius: 8px;
            &:first-child{
                box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
                position: absolute;
                right: 40px;
                bottom: 40px;
            }
        }
    }
}