-
    const benefits = [
        {
            icon: 'connection',
            title: 'Double Ripple utilizes a special Singapore-based P2P Trading platform to manage your XRP'
        },
        {
            icon: 'algorithm',
            title: 'Double Ripple utilizes a special Singapore-based P2P Trading platform to manage your XRP'
        },
        {
            icon: 'binary',
            title: 'Team is preparing proprietary algorithm to implement other cryptocurrencies'
        },
    ]

section.benefits
    .container
        .benefits_items
            each item in benefits
                .benefits_item
                    .benefits_item_icon
                        +icon(item.icon, [128, 128], 'none')
                    h3.benefits_item_title
                        =item.title