-
    const footer = {
        copyright: {
            en: '© Double Ripple, 2020. All right reserved',
            kr: '',
            cn: ''
        },
        disclaimer: {
            header: {
                en: 'Disclaimer & Precaution',
                kr: '',
                cn: ''
            },
            text: {
                en: 'Double Ripple uses a special P2P tracking platform to increase your ripple. We do not guarantee the increase in principal and may result in loss depending on our trading platform. Excessive investment can be a great misfortune.',
                kr: '',
                cn: ''
            }
        }
    }

footer.footer
    .container
        .footer_top
            .footer_logo
                img(src="/assets/img/logo.svg", alt="Double Ripple")
            .footer_copyright
                =footer.copyright[lang]
        .footer_disclaimer
            h5.footer_disclaimer_header
                =footer.disclaimer.header[lang]
            p
                =footer.disclaimer.text[lang]